<section
  class="nav-wrapper bg-success d-flex justify-content-around align-items-center"
>
  <div class="logo">
    <a href="#">
      <img alt="logo" src="../../../assets/shared/desktop/logo.svg" />
    </a>
  </div>
  <div
    class="nav--links d-flex justify-content-around align-items-center gap-5"
  >
    <a title="HOME" class="nav-link text-light" href="#">HOME</a>
    <a title="HEADPHONES" class="nav-link text-light" href="#">HEADPHONES</a>
    <a title="SPEAKERS" class="nav-link text-light" href="#">SPEAKERS</a>
    <a title="EARPHONES" class="nav-link text-light" href="#">EARPHONES</a>
  </div>
  <div class="cart--icon">
    <img
      alt="shopping-cart"
      src="../../../assets/shared/desktop/icon-cart.svg"
    />
  </div>
</section>
